article{
  border: 1px solid grey;
  border-radius: 3px;
  width: 20rem;
  background-color: ivory;
  margin-top:2rem;
  margin-left:2rem;
  margin-right:2rem;
  padding: 1rem;
}
.content{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap:wrap;
}
